<h2 class="career">Academic Qualifications</h2>
<div class="experience">
  <table>
    <thead>
      <tr>
        <th>Exam Title</th>
        <th>Concentration/Major</th>
        <th>Institute</th>
        <th>Result</th>
        <th>Pas. Year</th>
        <th>Duration</th>
        <th>Achievement</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bachelor of Social Science (BSS)</td>
        <td>BSS</td>
        <td>Gouripur Govt. College</td>
        <td>Second Class, Marks: 2.59%</td>
        <td>2016</td>
        <td>3 Years</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Diploma in Engineering</td>
        <td>C# .NET</td>
        <td>IsDB</td>
        <td>2022</td>
        <td>1.5 Years</td>
        <td>C# .Net, MVC, .Net Core, HTML, CSS, Jquery, JavaScript, Angular</td>
      </tr>
      <tr>
        <td>HSC</td>
        <td>Humanities</td>
        <td>Gouripur Govt. College</td>
        <td>CGPA: 3 out of 5</td>
        <td>2013</td>
        <td>2 Years</td>
        <td>-</td>
      </tr>
      <tr>
        <td>SSC</td>
        <td>Science</td>
        <td>Dr. Mr. Karim High School</td>
        <td>CGPA: 3.13 out of 5</td>
        <td>2011</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>
