<h2 class="career">References</h2>
<div class="experience">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Reference 01</th>
        <th>Reference 02</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Syed Zahidul Hassan</td>
        <td>Nurul Islam</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>IsDB</td>
        <td>Prothom Alo</td>
      </tr>
      <tr>
        <td>Designation</td>
        <td>Consultant</td>
        <td>Sr. Web Developer</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Show & Tell Consulting Ltd<br>IsDB-BISEW IT Scholarship Programme<br>Kawran Bazar, Dhaka</td>
        <td>Prothom Alo Office<br>Kawran Bazar, Dhaka</td>
      </tr>
      <tr>
        <td>Phone (Res.)</td>
        <td>01535110014</td>
        <td>01727946384</td>
      </tr>
      <tr>
        <td>Primary Mobile No</td>
        <td>01535110014</td>
        <td>01727946384</td>
      </tr>
      <tr>
        <td>Primary Email</td>
        <td>jewelmir81&#64;gmail.com</td>
        <td>nurul.islam3f&#64;gmail.com</td>
      </tr>
      <tr>
        <td>Relation</td>
        <td>Academic</td>
        <td>Relative</td>
      </tr>
    </tbody>
  </table>
</div>