.about {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .about h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .about p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  
  .about a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about a:hover {
    text-decoration: underline;
  }
  .profile-pic {
    width: 150px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 20px; /* Add some space below the image */
  }  

  .carrer{
   
    background: linear-gradient(to right, #435160, #e3e5e9);
    color: white;
    padding: 5px 5px; /* Optional padding for content */
  }
 