<h2 class="career">Career and Application Information</h2>
<div class="experience">
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Looking For</td>
        <td>Mid Level Job</td>
      </tr>
      <tr>
        <td>Available For</td>
        <td>Full Time</td>
      </tr>
      <tr>
        <td>Present Salary</td>
        <td>Tk. 25000</td>
      </tr>
      <tr>
        <td>Expected Salary</td>
        <td>Tk. 30000</td>
      </tr>
      <tr>
        <td>Preferred Job Category</td>
        <td>IT/Telecommunication</td>
      </tr>
      <tr>
        <td>Preferred District</td>
        <td>Dhaka</td>
      </tr>
      <tr>
        <td>Preferred Organization Types</td>
        <td>IT Enabled Service</td>
      </tr>
    </tbody>
  </table>
</div>